<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>打兔罐</title>
  <!-- 引入 Vue 3 -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style type="text/css">
  *{margin: 0;padding: 0;}
  
  #main{border: 1px solid #000;}
  .ds{ float: left;
    /* border: 1px solid #000; */
    box-sizing: border-box;}
  .ds img { width: 200px; height: 200px; }
  .dd{background-color: #3E8F3E;}
  .dc{background-color: #AC2925;}

  .info-text {
    font-size: 50px; 
  }
 </style>
</head>
<body>

<div id="app">
  <div class="info-text">倒计时{{ t }}</div>
  <div class="info-text">分数{{ fs }}</div>
  <div class="info-text" v-if="t <= 0">游戏结束</div>
  <div id="main">
    <div class="ds" v-for="v in x * y" :key="v">
      <img v-if="arr1.includes(v-1)" :src="arr2[arr1.indexOf(v-1)] == 1 ? getRandomImage(arr1Images) : getRandomImage(arr2Images)" @click="da(v-1)" />
      <img v-else :src="holeImage" @click="da(v-1)" />
    </div>
  </div>
  
  
</div>

<script type="text/javascript">
  const { createApp } = Vue;
  
  createApp({
    data() {
      return {
        x: 5,
        y: 5,
        w: 100,
        h: 100,
        t: 30,
        dsq: null,
        dsq2: null,
        s: 4,
        fs: 0,
        ys: true,
        arr1Images: ['1.png', '2.png', '3.png','4.png', '5.png', '6.png'], 
        arr2Images: ['7.png', '8.png', '9.png'],
        holeImage: 'hole.png',
      };
    },
    methods: {
  // 处理地鼠点击事件
  da(i) {
    // 确保游戏状态为“开始”时才处理点击
    if (this.ys) {
      // 检查是否点击的是地鼠位置
      if (this.arr1.includes(i)) {
        // 根据地鼠类型更新分数
        if (this.arr2[this.arr1.indexOf(i)] === 1) {
          this.fs++; // 对应 arr1Images 中的地鼠，加分
        } else {
          this.fs--; // 对应 arr2Images 中的地鼠，减分
        }
        // 防止重复点击同一地鼠
        const index = this.arr1.indexOf(i);
        this.arr1.splice(index, 1); // 移除已点击的地鼠位置
        this.arr2.splice(index, 1); // 同时移除对应的地鼠类型
      }
    }
  },
  // 生成随机地鼠位置和类型
  sjs() {
    const cc = parseInt(Math.random() * this.x * this.y);
    if (!this.arr1.includes(cc)) {
      this.arr1.push(cc);
      this.arr2.push(parseInt(Math.random() * 2));
    } else {
      this.sjs(); // 如果位置已被选中，则重新生成
    }
  },
  // 从图片数组中随机选取一张图片
  getRandomImage(images) {
    const index = Math.floor(Math.random() * images.length);
    return images[index];
  }
},

    created() {
      this.dsq = setInterval(() => {
        this.t--;
        if (this.t <= 0) {
          clearInterval(this.dsq);
          clearInterval(this.dsq2);
          this.ys = false;
        }
      }, 1000);
      this.dsq2 = setInterval(() => {
        this.arr1 = [];
        this.arr2 = [];
        this.arr3 = [];
        for (var i = 0; i < this.s; i++) {
          this.sjs();
        }
      }, 2000);
    }
  }).mount('#app');
</script>
</body>
</html>
